[submodule "cmake"]
	path = cmake
	url = https://github.com/zeek/cmake
[submodule "auxil/libstd"]
	path = auxil/libstd
	url = https://github.com/zeek/libunistd
[submodule "auxil/libunistd"]
	path = auxil/libunistd
	url = https://github.com/zeek/libunistd
